h1{
    color: blue;
}

.container{
    padding: 20px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 10px;
    cursor: pointer;
}